:root {
    --primary-blue: #3051d3;
    --primary-blue-hover: #2641a9;
    --bg-light: #f9fafb;
    --text-main: #111827;
    --text-muted: #6b7280;
    --border-color: #e5e7eb;
    --font-family: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: var(--text-main);
}

.container {
    width: 100%;
    max-width: 680px;
    text-align: center;
}


.signup-card {
    background-color: white;
    padding: 0px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}


h1 {
    font-weight: 700;
    font-size: 2.75rem;
    margin-bottom: 20px;
    color: #000;
}

.description {
    color: var(--text-muted);
    line-height: 1.5;
    font-size: 1.05rem;
    max-width: 100%;
    margin: 0 30px;
    margin-bottom: 25px;
    padding: 0 40px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    max-width: 500px;
    margin: 24px auto 0;
    width: 100%;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-group input {
    width: 100%;
    padding: 18px 24px;
    border: 1px solid #f3f4f6;
    border-radius: 14px;
    background-color: #f9fafb;
    font-size: 1rem;
    color: var(--text-main);
    transition: all 0.2s;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 3px rgba(48, 81, 211, 0.1);
}

.input-group input::placeholder {
    text-align: center;
}

.subscribe-btn {
    width: 100%;
    padding: 18px;
    background-color: #2e51ed;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s;
    box-shadow: 0 4px 12px rgba(46, 81, 237, 0.2);
}

.subscribe-btn:hover {
    background-color: var(--primary-blue-hover);
}

.subscribe-btn:active {
    transform: scale(0.98);
}

.confidential-note {
    font-size: 0.85rem;
    color: var(--text-muted);
    margin-top: 8px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}